section.content-left{
    float: left;
    width: 70%;
}

section.content-right{
    float: right;
    width: 25%;
    background: #FDFDFD;
    min-height: 850px;
}

aside.history {

}

aside.history table {
    width: 100%;
}

aside.history table thead{
    background: #CCC;
    color: #FFF;
    font-size: 1em;
}

aside.history table thead th{
    font-size: 0.9em;
}

aside.history table tbody td{
    font-weight: normal;
    font-size: 0.9em;
    padding: 5px 2px;
    text-align: center;
}
aside.history table tbody td:first-child{
    text-align: left;
}

aside.history table caption{
    margin-bottom: 10px;
}

form.calculator {
    position: relative;
    width: 60%;
    display: table;
    background: #fafafa;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 2px rgba(220, 216, 216, 0.84);
    -moz-box-shadow: 0px 0px 6px 2px rgba(220, 216, 216, 0.84);
    -webkit-box-shadow: 0px 0px 6px 2px rgba(220, 216, 216, 0.84);
    padding: 20px;
    margin: 40px auto 15px auto;
    clear: both;
}

form.calculator input[type=number]{
    border: none;
    font-size: 2em;
    width: 94.5%;
    background: #fafafa;
    text-align: center;
}

form.calculator input[type=number]:focus{
    text-decoration: none;
}

form.calculator ul li{
    width: 50%;
}

form.calculator ul li.numerador{
    border-bottom: 2px solid gray
}

form.calculator ul li.result{
    margin-top: 10px;
    vertical-align: middle;
    font-size: 2em;
    color: #000;
}

form.calculator .btn-calculate{
    height: 120px;
    width: 120px;
    text-align: center;
    position: absolute;
    top: 100px;
    right: 20px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    background: #333;
}

form.calculator .btn-calculate:hover{
    background: #3a61af;
    border: none;
}